#app-dropdown-menu {
        margin-top: 0;
        i {
	        color: #858585 !important;
	    }
}

#ozp-notifications {        
         .fa-bell {
            color: #1872A6 !important;
        }
}

#notification-number{
	color: #ECC24D !important;
}
