/* Page Background */
$page-bg: #0F1616;
$general-bg: #191f25;
$general-font: #ffffff;
$general-active-el: #1b70a6 ;
$general-hover: #ecc44d;

$nav-bar-bg: #2B3036;
$nav-menu-bg: #191F25;
$nav-dropdown-bg: #4c5457;