/* Page Background */
$page-bg: #0F1616;
$general-bg: #191f25;
$general-icon-color: #ffffff;
$general-font-color: #ffffff;
$general-active-el: #1b70a6;
$general-hover: #ecc44d;
$general-black: black;
$general-font-weight: 300;
$general-font: 'Ubuntu Light', 'Ubuntu';

$nav-bar-bg: #2B3036;
$nav-menu-bg: #191F25;
$nav-dropdown-bg: #4c5457;
$nav-font-color: #ffffff;