.app-folder{
	height: 120px;
	width: 200px;
	border: solid;
	border-color: #CCCDD1;
	border-width: 2px;
	border-radius: 15px;

	img{
		padding: 5px;
		height: 35px;
		width: 35px;
	}
}

.folder-modal{

	.modal-content{
		margin-right: auto;
		margin-left: auto;
		width: 710px;
		border-color: transparent !important;
        background-color: transparent !important;
    	color: white;

	}
	.modal-body{
		height: 0px;
		width: 710px;
		border: solid;
		border-color: #CCCDD1;
		border-width: 2px;
		border-radius: 15px;
		display: inline-table;
	}
	.close {
    	color: white !important;
	}
	h2{
		text-align: center;
	}
}
.modal-dialog{
	width: 810px;
}