.FolderModal {
    color: $gray-lightest;

    .modal-dialog {
        margin-top: 100px;
    }

    .modal-body {
        padding: 0;
        max-height: 720px;
        overflow: auto;

        border-width: 0;

        background-color: transparent;
    }

    .modal-header {
        border-width: 0;

        padding: 10px;

        h3 {
            margin: 0 auto;
            text-align: center;
            width: 90%;
            cursor: pointer;

            &[contenteditable=true] {
                background-color: $gray-base;
            }
        }
    }

    .modal-content {
        background-color: $gray-darkest;
        border: 2px solid $gray-darker;
        border-radius: 5px;
    }

    .close {
        color: inherit;
        font-size: 1.8em;
        font-weight: bold;

        position: absolute;
        top: 10px;
        right: 10px;
    }
}

@media (min-width: 1200px) {
    .FolderModal > .modal-dialog {
        width: 980px;
    }
}
