#header {
    position: relative;
    height: 55px;
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
    padding-left: 0px;

    .navbar-form {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 69px;
        left: 280px;
        height: 54px;
        border: 1px solid #d5d5d5;
        border-top: none;
        border-bottom: none;
        border-right: none;

        > .form-group {
            width: 100%;

            > .form-control {
                position: relative;
                padding: 12px 35px 16px 75px;
                width: 100%;
                height: 54px;
                border: 0;
            }

            > .glyphicon-search {
                position: absolute;
                z-index: 1; // to place icon on top of search input box
                top: 17px;
                left: 30px;
                color: #858585;
            }
        }
    }
}

.menu-icon {
	background-color: $nav-menu-bg;
	:hover{
    };
}


#logo-container {
    float: left;
    width: 280px;
    height: 55px;
    padding: 16px 0 0 30px;
}

#appsmall-logo-link {
    > img {
    	position: absolute;
    	padding: 5px 0 0 0;
    	color: white;
        width: 36px;
        height: 42px;
    }
}

#user-menu {
    position: absolute;
    top: 0;
    right: 0;

    .btn {
        height: 54px;
        padding: 15px 34px 0 30px;        
    }

    .dropdown-menu {
        margin-top: 0;
    }
}

.app-dropdown-menu {
    background-color: $nav-dropdown-bg;
}

#ozp-logo {
    > img {
    	height: 30px;
    	width: 30px;
    }
}

#ozp-dashboard {
    color: white !important;
}


#appsmall-logo {
    > img {
    	height: 30px;
    	width: 19px;
    }
}

#ozp-clock {
	margin-top:7px;
}

.nav-bar-icon {
	color: $general-icon-color !important;
}

.app-dropdown-item {
	height:20px !important;
}

.navbar-nav > li > a {
    padding-top: 5px !important; 
    padding-bottom:5px !important;
}

.navbar {
    min-height:20px !important;
	background: $nav-bar-bg;
	border: 0px;
    width: 100% !important;
}


/*-- change navbar dropdown color --*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
	background-color: $nav-dropdown-bg;
	color:$nav-font-color;
    border-radius: 5px !important;
}

.container-fluid {
	padding-left: 0px;
}

#ozp-notifications {    
   &:active {    
       > i {
           color: $general-active-el !important;
       }
   }
}



#top-bar{
    ul {
        list-style: none outside none;
    }
    ul > li {
        cursor: pointer;
        float: left;
        margin: 0;
        position: relative;
        text-align:center;
        height: 42px;
    }
    .clearfix {
        clear: both;
    }
    ul > li:hover:after{
        border: 2px solid $general-hover;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        width: 100%;
        }
    ul > li.current:after{
        border: 2px solid $general-active-el;       
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        width: 100%; 
    }
    ul > li.current:hover:after{
    };
    ul > li > ul > li:hover:after{
        border: 0;
    };
    ul > .no-hover:hover:after {
        border: none;
    }
    .dashboard-img {
        height: 25px;
    }
}

body > div.classBanner:last-of-type {
  position: fixed;
  bottom:0%;
}

.launch-external{
    color: white;
}

