.navbar {
    top: 20px;
}

.navbar-default .navbar-nav {
    .user-menu-dropdown.open {
        .icon-menu-grayLightest {
            @extend .icon-menu-blue;
        }
    }
}

.navbar-nav > li.disabled{
	& a:hover, & a:focus{
    background: transparent !important;
    border-top-color: transparent !important;
    border-color: transparent !important;
    cursor: default;
	}
}

.UserNotification {
    background: #3b4246;
}