.FolderLibrary {
    padding-top: 42px;
}

.LibraryTiles {
    @extend .list-unstyled;
    margin: 0;
    position: relative;
}

.LibraryTiles__item {
    display: inline-block;
}

.LibraryTile, .FolderTile {
    display: inline-block;
    position: relative;
    box-sizing: content-box;

    outline: 1px solid transparent;
    border-radius: 4px;
    transition: outline-color 0.5s ease 0.1s;

    margin-bottom: 30px;

    vertical-align: top;

    width: 200px;

    h5 {
        text-align: center;
    }

    &.drag-hover {
        outline-color: $gray-lighter;
    }
}

.FolderTile {
    .FolderTile__folderView {
        border: 2px solid $gray-darker;
        border-radius: 5px;

        width: 200px;
        height: 120px;

        padding: 5px 14px;

        display: block;

        overflow: hidden;

        &:hover{
          background-color: #fff;
          opacity: 0.1;
          filter: alpha(opacity=10);
        }
    }

    img {
        width: 32px;
        height: 32px;
        margin: 5px;
    }

    h5 {
        cursor: pointer;

        &[contenteditable=true] {
            background-color: $gray-darkest;
        }
    }
}

.LibraryTile__img {
    width: 200px;
    height: 120px;
    display: block;

    border: 1px solid $gray-darkest;
}

.LibraryTile__actionMenu > ul {
    //overridden when toggle is checked
    display: none;

    @extend .list-unstyled;

    width: 180px;
    font-weight: normal;
    background-color: $gray-base;
    padding: 10px 0;

    > li {
        margin: 0;
        padding: 0;

        > a {
            color: $gray-lighter;
            border-left: 4px solid transparent;
            padding: 5px 10px;
            margin: 0;
            display: block;
        }

        &:hover > a {
            border-color: $blue;
            color:$white;
            text-decoration: none;
        }
    }
}

.LibraryTile__actionMenuButton {
    display: block;
    text-align: center;
    background-color: $gray-base;
    color: $gray-lighter;
    font-size: 1.3em;
    border-top: 4px solid transparent;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: 25px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    > i {
        top: -3px;
    }

    &:hover{
      border-top: 3px solid $blue;
      color: $white;

      > .icon-caret-down-14-grayLightest{
          @extend .icon-caret-down-14-white;
      }
    }
}

.LibraryTile__actionMenu {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;

    > input {
        //the toggle checkbox is hidden
        display: none;

        //when the checkbox is checked, display the menu
        &:checked {
            & ~ ul {
                display: block;
                background: $gray-darker;
            }

            & + .LibraryTile__actionMenuButton {
                color: $blue;

                > .icon-caret-down-14-grayLightest{
                    @extend .icon-caret-down-14-blue;
                }
            }
        }
    }
}

.LibraryTile__actionMenu > input:checked + .LibraryTile__actionMenuButton {
    border-top: 3px solid $blue;
    background: $gray-darker;

    &::before {
        top: -2px;
    }
}

.DropSeparator {
    display: inline-block;

    border: 2px solid transparent;
    border-radius: 4px;

    transition: all 0.5s ease 0.1s;
    height: 200px;
    width: 20px;

    &.drag-hover {
        background-color: $gray;
        border-color: $gray-lightest;
    }
}

.FolderTitle {
    word-wrap: break-word;

    h1, h2, h3, h4, h5, h6 {
        &[contenteditable=true] {
            outline: 0px solid transparent;
            cursor: text;
        }
    }

    .validation-err-msg {
        color: $white;
        background-color: $red-orange-dark;
        margin: 5px auto;
        padding: 10px;

        border-radius: 4px;

        display: none;
    }
}

.FolderTitle.error {
    h1, h2, h3, h4, h5, h6 {
        &[contenteditable=true] {
            outline: 1px solid $red-orange-dark;
        }
    }

    .validation-err-msg {
        display: inline-block;
    }
}

.FolderLibrary {
    > h3 {
        padding-left: 20px;
        color: $gray-lightest;
    }
}

.FolderLibrary__empty {
    width: 450px;
    margin: 200px auto 0 auto;

    text-align:center;
    color: $white;

    a {
        color: $blue;
        font-weight: 600;
        font-size: 2em;
    }
}
