.layout {
    position: absolute;
    top:65px;
    left:0;
    bottom:20px;
    right:0;
    max-width: 1420;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1%;
    .GridCell {
        position: absolute;
        min-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;

        .custom-hud-component {
            display: table;
            height: 100%;
            width: 100%;
            overflow: hidden;
            border: 1px solid $gray-dark;
            background: $gray-darkest;
            padding: 10px;

            li {
                list-style: none;
            }

            .Listings__bar {
                height: 150px;

                a {
                    padding: 0 0 10px 20px;
                    float: left;
                }

                .Listings__counts {
                    padding-left: 20px;
                    clear: both;
                    text-align: center;

                    div {
                        display: block;
                        float: left;
                        width: 100px;
                    }

                    .count {
                        font-size: 32px;
                        margin-left: 10px;
                    }
                }
            }

            .RecentActivity {
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;

                h1 {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }

            .RecentActivity__activities {
                left: 10px;
                right: 20px;

                .recent-activity-icon {
                    float: left;
                    max-height: 30px;
                    max-width: 30px;
                    margin-right: 10px;
                }

                .icon-caret-right {
                    margin-top: 6px;
                }

                .RecentActivity__empty {
                    width: 50%;
                    margin: 0 auto 0 auto;
                    text-align:center;
                    color: $white;

                    a {
                        color: $blue;
                        font-weight: 600;
                        font-size: 2em;
                    }
                }
            }

            .TableRow {
                display: table-row;
                overflow-y: auto;
            }
            
            .TableRowZero {
                display: table-row;
                height: 0;
            }
        }

        .react-resizable-handle {
                position: absolute;
                width: 12px;
                height: 12px;
                bottom: 0;
                right: 0;
                background-repeat: no-repeat;
                background-origin: content-box;
                box-sizing: border-box;
                cursor: se-resize;
                @extend .icon-grip-12-grayLightest;
            }
    }

    .EmptyCell{
        position:absolute;
        min-height: 400px;
        min-width: 650px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $body-bg;
    }

    .EmptyCell:hover{
        border: 1px solid $gray-darkest;
    }
}