.Widget {
	
	height: 400px;
	width: 700px;
	border: 2px solid white;
	overflow: hidden;
	background: $gray-darkest;
	padding: 20px;
	margin-bottom: 50px;
	float: left;

	li {
		list-style: none;
	}

	.scrollable {
		max-height: 200px;
		overflow: auto;
	}

		.Listings {
		height: 100px;

		.Listings__counts {

			div {
				display: block;
				float: left;
				width: 100px;
			}
		}
	}	

	.RecentActivity__activities {

		padding-top: 20px;

	    .recent-activity-icon {
	        float: left;
	        max-height: 30px;
	        max-width: 30px;
	        margin-right: 10px;
	    }

	    .icon-caret-right {
	        margin-top: 6px;
	    }

	}

	h3 {
		clear: both;
	}
}