.empty-text-button {
	font-weight: bold;
	border-style: none;
	background-color: $gray-base;
	color: $blue;
	font-size: 1.2em;
	// font-family: $general-font;
}

.ozp-lib-name {
	color: white;
	text-align: center;
    margin: 5px 25px 0 0;
}

.tileIcon {
	position: absolute;
	padding-left: 10px;
	top: 0px;
	right: 25px;
	width: 45px;
	height: 25px;
	color: white !important;
	background-color: $gray-base;
	&:hover, &:focus {
        cursor: pointer;
		cursor: hand;
    }
}

.tileIcon-dropdown {
	position: absolute;
	width: 60px;
	top: 24px;
	left: 41px;
	background-color: $gray-base;
	color: white;
	margin-top: 0;
	text-align: center;
	&:hover, &:focus {
        cursor: pointer;
		cursor: hand;
    }
}

.setting-labels {
	font-size: 1.4em;
	// font-weight: $general-font-weight;
	padding-left: 45px;
	padding-top: 10px;
}

.settings-btn-group {
	padding-left: 100px;
	padding-bottom: 10px;
}

.settings-btn{
	border-radius:0px !important;
    // font-weight: $general-font-weight;
    // font-family: $general-font;
}

.settings-btn-group-shadow {
	padding-left: 114px;
	padding-bottom: 10px;
}

.settings-btn-group-timezone {
	padding-left: 102px;
	padding-bottom: 10px;
}

.settings-btn-group-launch {
	padding-left: 59px;
	padding-bottom: 40px;
}

.settings-submit-btn-group {
	padding-left: 30px;
}

.settings-submit-btn {
	margin-right: 10px;
}

.settings-dropdown {
	padding-left: 101px;
}

.settings-dropdown-button {
	width: 250px;
}

.settings-dropdown-menu {
	left: 100px;
	width: 250px;
}
