#applib {
    padding-left: 30px;
    color: #7A7A7A !important;
    font-family: sans-serif;
}

#applib-tiles {
	margin: 0 25px 0 0;
    width: 200px;
    height: 120px;
}

#empty-app-text {
	text-align: center;
	color: #7A7A7A !important;
	font-size: 2.6em;
    line-height: 1.2em;
    font-family: sans-serif;
}

#visit-appsmall {
	text-align: center;
	color: #1872A6 !important;
	font-size: 1.8em;
    line-height: 1.3em;
    margin-top: 18px;
    font-family: sans-serif;
}

#visit-button-text {
	text-align: center;
}

#empty-text-button {
	font-weight: bold;
	border-style: none;
	background-color: black !important;
	color: #1872A6 !important;
	font-size: 1.2em;
	font-family: sans-serif;
}

.ozp-lib-name {
	color: white;
	text-align: center;
}

#tileIcon {
	position: absolute;
	padding-left: 10px;
	top: 0px;
	right: 25px;
	width: 45px;
	height: 25px;
	color: white !important;
	background-color: black !important;
	&:hover, &:focus {
        cursor: pointer;
		cursor: hand;
    }
}

#tileIcon-dropdown {
	position: absolute;
	width: 60px;
	top: 24px;
	left: 41px;
	background-color: black !important;
	border-color: #d5d5d5;
	color: white;
	margin-top: 0;
	text-align: center;
	&:hover, &:focus {
        cursor: pointer;
		cursor: hand;
    }
}