#applib {
    padding-left: 30px;
}

#applib-tiles {
	margin: 0 25px 0 0;
    width: 200px;
    height: 120px;
}

.ozp-lib-name {
	color: white;
	text-align: center;
}

#tileIcon {
	position: absolute;
	padding-left: 10px;
	top: 0px;
	right: 25px;
	width: 45px;
	height: 25px;
	color: white !important;
	background-color: black !important;
	&:hover, &:focus {
        cursor: pointer;
		cursor: hand;
    }
}

#tileIcon-dropdown {
	position: absolute;
	width: 60px;
	top: 24px;
	left: 41px;
	background-color: black !important;
	border-color: #d5d5d5;
	color: white;
	margin-top: 0;
	text-align: center;
	&:hover, &:focus {
        cursor: pointer;
		cursor: hand;
    }
}