$icon-font-path: "../../bower_components/font-awesome/fonts/";

@import "../../bower_components/ubuntu-fontface/_ubuntu-base.scss";
@import "bootstrap.scss";
@import "../../node_modules/ozp-react-commons/app/styles/commons.scss";
@import "../../node_modules/icons/dist/css/sprite.scss";

// Catchall baseclass
[class^="icon-"], [class*=" icon-"] {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    background: $body-bg;
    font-family: 'Ubuntu';
    font-weight: 300;
}

#main {
    margin: 0 auto;
    display: block;
    min-height: 100%;
    height: auto;
    width: 100%;
    max-width: 1500px;

    -moz-box-shadow: 0 0 3px rgba(25, 31, 37, .1);
    -webkit-box-shadow: 0 0 3px rgba(25, 31, 37, .1);
    box-shadow: 0 0 3px rgba(25, 31, 37, .1);
}

h1 {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: ceil($font-size-base * 1.75);
}

.activeIcon {
  color: $blue !important;
}

@media (max-width: 1023px) and (min-width: 800px) {
    #main {
        width: 800px !important;
        transition: all .25s linear;
    }
}

embed {
    border: 0;
}

.divider-vertical {
    height: 40px;
    margin: 0 9px;
}

@import 'variables';
@import 'header';
@import 'search';
@import 'library';
@import 'modal';
@import 'folder';

/*=======================
= Classification Banner =
=======================*/

@import "../../bower_components/ozp-classification/classification.css";

body {
    margin-top:20px;
}

body > div.classBanner {
    position: fixed;
    z-index: 1000000;

    &:first-of-type {
        top: 0px;
    }

    &:last-of-type {
        bottom: 0px;
    }
}
