$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$icon-font-path: "../../bower_components/font-awesome/fonts/";

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import 'colors_fonts';

html, body {
    background: $general-bg;
}

#main {
    margin: 0 auto;
    display: block;
    min-height: 100%;
    height: auto !important;
    width: 1260px;

    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

@media (max-width: 1023px) and (min-width: 800px) {
    #main {
        width: 800px !important;
        transition: all .25s linear;
    }
}

.divider-vertical {
height: 40px;
margin: 0 9px;
}
#login-page{

    .login-logo{
        height: 237px;
        width: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

    }

    form{
        color: white;
        width: 300px;
        margin: 0 auto;
        font-family: $general-font;
        font-weight: $general-font-weight;
        font-size: 14px;
    }
    label{
        font-family: $general-font;
        font-weight: $general-font-weight;
        font-size: 14px;
        height: auto;
        width: auto;
    }
    .login-btn{
        width: 275px;
        height: 30px;
        background-color: #1A71A6;
        border-color: white;
        margin: 7px;
    }
    .login-text-field{
        width: 200px;
        height: 25px;
        margin: 7px;
        background-color: #313836;
        border-style: none;
    }
}

@import 'header';
@import 'search';
@import 'appLibTile';
@import 'alerts';
@import 'modal';
@import 'folder';