.help-modal .modal-header .close, .modal-body {
    background-color: #222222 !important;
    color: white !important;
    height: 350px;
    border-style: double;
}

.settings-modal .settings-body{
    background-color: #222222 !important;
    color: white !important;
    height: 450px;
}

.btn-close {
    color: white !important;
}

.help-text {
    background-color: grey !important;
    border-color: white !important;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    height: 250px;
    font-weight: $general-font-weight;
    font-family: $general-font;
}

.help-modal-title {
  font-weight: $general-font-weight;
  font-family: $general-font;
}

.help-modal-left {
	float: left;
	width: 30%;
    font-weight: $general-font-weight;
    font-family: $general-font;
}

.help-modal-right {
	float: right;
	width: 70%;
}

.help-modal-textarea {
	width: 100%;
}

.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}