#help-modal .modal-header, .modal-body {
    background-color: black !important;
    color: white !important;
    height: 350px;
}

#help-modal .close {
    color: white !important;
}

#help-text {
    background-color: grey !important;
    border-color: white !important;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    height: 250px;
}

#help-modal-left {
	background-color: black !important;
	float: left;
	width: 30%;
}

#help-modal-right {
	background-color: black !important;
	float: right;
	width: 70%;
}

#help-modal-textarea {
	width: 100%;
	background-color: black !important;
}

.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
