.modal-body {
    height:100%;
}

.modal-content {
    background: $gray-dark;
    overflow: auto !important;
    height: 90%;
}

.settings-modal .settings-body {
    background-color: $modal-content-border-color !important;
    color: white !important;
    height: 450px;
}

.modal-header {
  height: 80px;
  margin-bottom: 20px;
  background-color: #3b4246;
}
.modal-header .close {
  margin-top: -10px !important;
  margin-right: -8px !important;
  font-size: 150%;
}

.btn-close {
    color: $gray-lighter !important;
    opacity: 1;
    text-shadow:none;
    &:hover {
        color:$white !important;
    }
}
.close:hover, .close:focus {
    opacity:1;
}


.help-text {
    background-color: $body-bg !important;
    border-color: white !important;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    height: 250px;
}

.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.modalHeaderRight {
  float: right;
  margin-left: 20px;
}

.FolderTitle {
  padding-bottom: 5px;
}

.FolderTitle, .modalHeaderRight {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
}
